NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
# MongoDB
MONGO_USER=root
MONGO_PASS=
MONGO_URL=127.0.0.1
# Crypto
ETHERSCAN_API=API
INFURA=API
ETHEREUM_NETWORK=holesky
LITECOIN_API_BASE=https://litecoinspace.org/api
ETH_CENTRAL_WALLET_ADDRESS=
ETH_CENTRAL_WALLET_PRIVATE_KEY=
LTC_CENTRAL_WALLET_ADDRESS=
LTC_CENTRAL_WALLET_PRIVATE_KEY=
ETH_TO_LTC_RATE=38
LTC_TO_ETH_RATE=0.027
ETH_TO_PAYPAL_RATE=2000
LTC_TO_PAYPAL_RATE=100
PAYPAL_TO_ETH_RATE=0.00042
PAYPAL_TO_LTC_RATE=0.016
CASHAPP_TO_ETH_RATE=0.0005
CASHAPP_TO_LTC_RATE=0.01
CASHAPP_TO_PAYPAL_RATE=1
ETH_TO_CASHAPP_RATE=2000
LTC_TO_CASHAPP_RATE=100
PAYPAL_TO_CASHAPP_RATE=1
# Paypal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
